{% set couchpotato = salt['grains.filter_by']({
  'Debian': {
    'pkgs': ['python','unrar','unzip'],
    'git': 'https://github.com/RuudBurger/CouchPotatoServer',
    'homedir': '/srv/couchpotato/',
    'service_config': '/etc/default/couchpotato',
    'service_config_src': 'salt://couchpotato/files/debian/couchpotato.default.jinja',
    'service_file': ' /etc/init.d/couchpotato',
    'service_file_src': 'salt://couchpotato/files/debian/couchpotato.init.jinja',
    'service': 'couchpotato',
    'user': 'couchpotato',
    'group': 'couchpotato',
    'piddir': '/var/run/couchpotato/',
  },
  'Arch': {
    'pkgs': ['python','unrar','unzip','python2-lxml','python2-pyopenssl'],
    'git': 'https://github.com/RuudBurger/CouchPotatoServer',
    'homedir': '/opt/couchpotato/',
    'datadir': '/var/opt/couchpotato',
    'configdir': '/var/opt/couchpotato',
    'service_config': '/etc/conf.d/couchpotato',
    'service_config_src': 'salt://couchpotato/files/systemd/couchpotato.conf.jinja',
    'service_file': ' /usr/lib/systemd/system/couchpotato.service',
    'service_file_src': 'salt://couchpotato/files/systemd/couchpotato.service.jinja',
    'service': 'couchpotato',
    'user': 'couchpotato',
    'group': 'couchpotato',
    'piddir': '/var/run/couchpotato/',
  },
}, grain='os_family', merge=salt['pillar.get']('couchpotato:lookup')) %}
